.ordem-compra{
    margin-top: 50px;
    margin-bottom: 150px;
}

input.ng-invalid.ng-touched { /* Classe aplicada pelo angulas a componentes com validações invalidas pelo proprio html (required, minlength...) */
    border: 1px solid red;
}

select.ng-invalid.ng-touched { /* Classe aplicada pelo angulas a componentes com validações invalidas pelo proprio html (required, minlength...) */
    border: 1px solid red;
}

input.ng-valid.ng-touched { /* Classe aplicada pelo angulas a componentes com validações invalidas pelo proprio html (required, minlength...) */
    border: 1px solid green;
}

select.ng-valid.ng-touched { /* Classe aplicada pelo angulas a componentes com validações invalidas pelo proprio html (required, minlength...) */
    border: 1px solid green;
}

